.profile__subtitle {
  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
}

@media screen and (max-width: 1023px) {
  .profile__subtitle {
    max-width: 200px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    padding-top: 8px;
    padding-bottom: 33px;
    max-width: 185px;
  }
}
