.popup__adding-button{
    background: #000;
    color: #fff;
    border: 0;
    padding: 14px 0 14px 0;
    width: 100%;
    margin-top: 48px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}


.popup__button:hover {
    opacity: 0.6;
  }

  